/.mxproject
/build
/build.ninja
/cmake_install.cmake
/CMakeCache.txt
/CMakePresets.json
/compile_commands.json
/startup_*.s
/*.ld
/.vscode
/cmake
/CMakeFiles

/Core/*
!/Core/Src/
/Core/Src/*
!/Core/Src/main.c

/Drivers

# Misc
.DS_Store
.AppleDouble
.LSOverride
._*
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
[Dd]esktop.ini
